.card-img-top {
	padding: 25px;
}

.card-deck{
	padding: 100px;
}


/* Card Attributes */
#card-name {
	text-align: center;
	margin-bottom: 20px;
}

#card-attr {
	margin-top: 3px;
	margin-left: 30px;
}

/* Card Attributes */