.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  width: 100%;
  height: 904px;
  position: relative;
}

.carousel-img {
  /* make sure your .items will get correct height */
  width: 100%;
  height: 904px;
  object-fit: cover;
}
