.carousel {
	/* any dimensions are fine, it can be responsive with max-width */
	width: 100%;
	height: 904px;
	position: relative;
}

.carousel-img {
	/* make sure your .items will get correct height */
	width: 100%;
	height: 904px;
	object-fit: cover;
}

#small-card {
	height: 500px;
	margin-bottom: 600px;
}


/* Card Attributes */
#card-name {
	text-align: center;
	margin-bottom: 20px;
}

#card-attr {
	margin-top: 3px;
	margin-left: 30px;
}

/* Card Attributes */


/* Law Card */

#law-card {
	height: 500px;
}

#law-card-body {
	height: 400px;
}

#law-headshot-box {
	height: 100%;
	position: relative;
}

#law-headshot {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Law Card */


/* Law Bio */

#law-bio-picture {
	width: 400px;
}

/* Law Bio */


/* Politician Card */

#politician-card {
	height: 600px;
}

#politician-headshot-box {
	height: 500px;
	position: relative;
}

#politician-headshot {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Politician Card */


/* Politician Bio */

#politician-bio-picture {
	width: 400px;
}

/* Politician Bio */


/* Action Group Card */

#action-group-card {
	height: 450px;
}

#action-group-headshot-box {
	height: 500px;
	position: relative;
}

#action-group-headshot {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Action Group Card */


/* Impacted Group Card */

#impacted-group-card {
	height: 450px;
}

#impacted-group-headshot-box {
	height: 500px;
	position: relative;
}

#impacted-group-headshot {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Impacted Group Card */