{% extends 'layout.html' %}

{% block body %}
	<div>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4 text-center">Welcome to PropXdoesWHAT!</h1>
				<p class="lead text-center">
					This site is intended to provide information about current politicians and laws that have been recently passed. Furthermore, we provide information of affected groups by the laws and action groups if you feel like getting involved!
					<!-- This website was created to make impacted groups aware of upcoming laws that affect them, connect with advocacy/action groups concerned with those issues (either for help or to help campaign against). --></p>
					<h2 class="text-center"><a href="https://gitlab.com/qchay/IDB">Gitlab Repo</a></h2>
					<h2 class="text-center"><a href="https://documenter.getpostman.com/view/4704075/RWEmKHJp">Postman API</a></h2>
			</div>
		</div>
			<div class="card-deck">
				<div class="card">
					<img id="pic0" class="card-img-top" src="https://image.flaticon.com/icons/svg/24/24029.svg" alt="Card image cap">
					<div class="card-body">
						<h5 id="name0" class="card-name"></h5>
						<p class="card-text">
							<li id="bio0">Bio</li>
							<li id="tasks0">Responsibilities</li>
							<li id="commits0"></li>
							<li id="issues0"></li>
							<li id="issues-created0"></li>
						</p>
					</div>
				</div>
				<div id="pic1" class="card">
					<img class="card-img-top" src="https://image.flaticon.com/icons/svg/24/24029.svg" alt="Card image cap">
					<div class="card-body">
						<h5 id="name1" class="card-name"></h5>
						<p class="card-text">
							<li id="bio1">Bio</li>
							<li id="tasks1">Responsibilities</li>
							<li id="commits1"></li>
							<li id="issues1"></li>
							<li id="issues-created1"></li>
						</p>
					</div>
				</div>
				<div class="card">
					<img id="pic2" class="card-img-top" src="https://image.flaticon.com/icons/svg/24/24029.svg" alt="Card image cap">
					<div class="card-body">
						<h5 id="name2" class="card-name"></h5>
						<p class="card-text">
							<li id="bio2">Bio</li>
							<li id="tasks2">Responsibilities</li>
							<li id="commits2"></li>
							<li id="issues2"></li>
							<li id="issues-created2"></li>
						</p>
					</div>
				</div>
				<div class="card">
					<img id="pic3" class="card-img-top" src="https://image.flaticon.com/icons/svg/24/24029.svg" alt="Card image cap">
					<div class="card-body">
						<h5 id="name3" class="card-name"></h5>
						<p class="card-text">
							<li id="bio3">Bio</li>
							<li id="tasks3">Responsibilities</li>
							<li id="commits3"></li>
							<li id="issues3"></li>
							<li id="issues-created3"></li>
						</p>
					</div>
				</div>
				<div class="card">
					<img id="pic4" class="card-img-top" src="https://image.flaticon.com/icons/svg/24/24029.svg" alt="Card image cap">
					<div class="card-body">
						<h5 id="name4" class="card-name"></h5>
						<p class="card-text">
							<li id="bio4">Bio</li>
							<li id="tasks4">Responsibilities</li>
							<li id="commits4"></li>
							<li id="issues4"></li>
							<li id="issues-created4"></li>
						</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-center">
			<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="pills-stats-tab" data-toggle="pill" href="#pills-stats" role="tab" aria-controls="pills-stats" aria-selected="true">Stats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-data-tab" data-toggle="pill" href="#pills-data" role="tab" aria-controls="pills-data" aria-selected="false">Data</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-tools-tab" data-toggle="pill" href="#pills-tools" role="tab" aria-controls="pills-tools" aria-selected="false">Tools</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-misc-tab" data-toggle="pill" href="#pills-misc" role="tab" aria-controls="pills-misc" aria-selected="false">Misc</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-stats" role="tabpanel" aria-labelledby="pills-stats-tab">
					<li id="total"></li>
					<li id="issues"></li>
					<li>0 unit tests</li>
				</div>
				<div class="tab-pane fade" id="pills-data" role="tabpanel" aria-labelledby="pills-data-tab">
					<li><a href="http://docs.openstates.org/en/latest/api/">http://docs.openstates.org/en/latest/api/</a></li>
					<li><a href="http://projects.propublica.org/api-docs/congress-api/">http://projects.propublica.org/api-docs/congress-api/</a></li>
					<li><a href="http://opensecrets.org/open-data/api">http://opensecrets.org/open-data/api</a></li>

				</div>
				<div class="tab-pane fade" id="pills-tools" role="tabpanel" aria-labelledby="pills-tools-tab">
					<li>Git		--- Version Control</li>
					<li>GitLab	--- Git repository hosting, issue tracking</li>
					<li>Postman	--- API design and testing % thing is a PoS though</li>
					<li>Grammarly	--- Spelling/grammar feedback for this report</li>
					<li>Piazza	--- Collecting User Stories from end users</li>
					<li>Slack --- Communication between group members</li>
					<li>Amazon Web Services --- Host html files</li>
					<li>NameCheap --- Custom domain name</li>

				</div>
				<div class="tab-pane fade" id="pills-misc" role="tabpanel" aria-labelledby="pills-misc-tab">
				</div>
			</div>
		</div>
	</div>
	{% endblock %}