{% extends 'layout.html' %}

{% block body %}
	<main>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="relative-pos carousel-item active">
					<a href="/laws/page/1">					
						<img class="carousel-img img-responsive" src="https://images7.alphacoders.com/462/462202.jpg" alt="First slide">
					</a>
				<div class="container">
            <div class="carousel-caption">
              <h1>Welcome to PropXdoesWHAT.</h1>
              <p>This site is intended to provide information about current politicians and laws that have been recently passed. Furthermore, we provide information of affected groups by the laws and action groups if you feel like getting involved!</p>
            </div>
          </div>
				</div>
				<div class="carousel-item">
					<a href="/politicians/page/1">
						<img class="carousel-img img-responsive" src="https://stmed.net/sites/default/files/mount-rushmore-wallpapers-28751-8647311.jpg" alt="Second slide">
					</a>
				</div>
				<div class="carousel-item">
					<a href="/abouta">
						<img class="carousel-img img-responsive" src="https://images4.alphacoders.com/278/thumb-1920-278048.jpg" alt="Third slide">
					</a>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</main>

{% endblock %}
