{% extends 'layout.html' %}

{% block body %}
<main>
	<div id="id_number" data-id_number="{{ id_number }}"></div>
	<div id="bio"></div>
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<h2 class="text-center col-12">Laws related to this Politician</h2>
			<div class="col-md-4">
				<div class="card mb-4 box-shadow" id="law-card">
					<div id="law-headshot-box">
						<a href="/laws/national_invasive_species_act_of_1996">
							<img class="card-img-top" id="law-headshot" src="https://cdn1.edgedatg.com/aws/v2/abc/SchoolhouseRock/episode/1697098/212f1befce5deb621a01c48a6d717dea/1000x563-Q90_212f1befce5deb621a01c48a6d717dea.jpg" alt="Card image cap">
						</a>
					</div>

					<div class="card-body">
						<h3 id="card-name">National Invasive Species Act of 1996</h3>
						<div id="card-attr">
							<li>Affected Groups: Veterans</li>
							<li>Primary Subject: Environmental protection</li>
							<li>Established: 1996-10-26</li>
						</div>
					</div>
				</div>
			</div>
			<h2 class="text-center col-12">Action Groups related to this Politician</h2>
			<div class="col-md-4">
				<div class="card mb-4 box-shadow" id="action-group-card">
					<div id="action-group-headshot-box">
						<a href="/action_groups/american_civil_liberties_union">
							<img class="card-img-top" id="action-group-headshot" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/65/New_ACLU_Logo_2017.svg/250px-New_ACLU_Logo_2017.svg.png" alt="Card image cap">
						</a>
					</div>

					<div class="card-body">
						<h3 id="card-name">American Civil Liberties Union</h3>
						<div id="card-attr">
							<li>Location: Washington</li>
							<li>Established: 1920</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block script %}
<script type="text/babel" src="{{ url_for('static', filename='politician_bio.js') }}"></script>
{% endblock %}



