.carousel {
	/* any dimensions are fine, it can be responsive with max-width */
	width: 100%;
	height: 95%;
	position: fixed;
}

.carousel-img {
	/* make sure your .items will get correct height */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-caption {
    bottom: 51%;
}

.carousel-site-info{
	bottom: 70%;

}

#home-link {
	color: #FFF;
}

#home-link:hover {
	color: #FFF;
	text-decoration: none;
}

#small-card {
	height: 500px;
	margin-bottom: 400px;
}

/* Tools Attributes */
.tools-img{
width: 100%;
height: 60%;
}

.tools-card-body{

}

.tools-title{

}

/* Card Attributes */
.card-img-top{
    border-radius: 30%;
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

#card-name {
	text-align: center;
	max-height: 100px;
	font-size: 1.7em;
}

#card-attr {
	margin-bottom: 5px;
	margin-left: 23px;
	position: absolute;
	bottom: 0;
	font-size: 1.0em;
}

li {
	padding-bottom: 7px;
}

/* Card Attributes */


/* Law List */

.list-group{
	padding: 10px;
}

.list-group-item {
	color: black;
}

/*.law-info li{

	padding-top: 5px;
	padding-bottom: 5px;
}*/

/* Law Bio */

#law-bio-picture {
	width: 400px;
}

/* Law Bio */


/* Politician Card */

#politician-card {
	height: 500px;
}

#politician-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#politician-headshot-box {
	height: 300px;
	position: relative;
}

#politician-headshot {
	max-width: 100%;
	max-height: 100%;
	width: 85%;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Politician Card */


/* Politician Bio */

#politician-bio-picture {
	width: 400px;
}

/* Politician Bio */


/* Action Group Card */

#action-group-card {
	height: 510px;
}

#action-group-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#action-group-headshot-box {
	height: 300px;
	position: relative;
}

#action-group-headshot {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Action Group Card */

/* Action Group Bio */

#action-group-bio-picture {
	width: 400px;
}

/* Action Group Bio */


/* Affected Group Card */

#affected-group-card {
	height: 400px;
}

#affected-group-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#affected-group-headshot-box {
	height: 300PX;
	position: relative;
}

#affected-group-headshot {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
}

/* Affected Group Card */

/* Affected Group Bio */

#affected-group-bio-picture {
	width: 400px;
}

/* Affected Group Bio */

.jumbotron{
	background-color: #eaecff;
}
